@import url("fonts.css");
:root {
  --col-width: calc(100% / 12);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}
.col-lg-1 {
  width: var(--col-width);
}
.col-lg-2 {
  width: calc(var(--col-width) * 2);
}
.col-lg-3 {
  width: calc(var(--col-width) * 3);
}
.col-lg-4 {
  width: calc(var(--col-width) * 4);
}
.col-lg-5 {
  width: calc(var(--col-width) * 5);
}
.col-lg-6 {
  width: calc(var(--col-width) * 6);
}
.col-lg-7 {
  width: calc(var(--col-width) * 7);
}
.col-lg-8 {
  width: calc(var(--col-width) * 8);
}
.col-lg-9 {
  width: calc(var(--col-width) * 9);
}
.col-lg-10 {
  width: calc(var(--col-width) * 10);
}
.col-lg-11 {
  width: calc(var(--col-width) * 11);
}
.col-lg-12 {
  width: calc(var(--col-width) * 12);
}
/*---------------------header-------------------------*/
header {
  width: 100%;
  height: 100vh;
  background-image: url("./../img/header_img/castelmezzano-1979546 1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 39%;
}
.container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1235px;
}
.header_inner {
  margin: 0 8px ;
  display: flex;
  flex-direction: column;
}
.header_nav {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.nav_main {
  display: flex;
  align-items: center;
}
.nav_text {
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_text a {
  position: relative;
}
.nav_text a:hover:after {
  content: "";
  position: absolute;
  background: #f5bd41;
  left: 5%;
  margin: 0 auto;
  bottom: -5px;
  width: 90%;
  height: 4px;
}
.nav_text a {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
/*.nav_text a:hover {
  border-bottom: 4px solid #f5bd41;
}*/
.nav_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 114px;
  margin-left: 68px;
}
#header_nav-burger {
  display: none;
}
#nav_night {
  width: 30px;
  height: 30px;
}
.header_desc {
  margin-top: 200px;
  margin-bottom: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  color: #ffffff;
}
.header_form-subtitle {
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: 38% 10% 10% 42%;
}
.form_subtitle-destination {
  padding-left: 24px;
}
.form-subtitle-item {
  display: flex;
  justify-content: start;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}
.header_form {
  background-color: #ffffff;
  border-radius: 8px;
  width: 100%;
  height: 64px;
  display: grid;
  grid-template-columns: 38% 21% 26% 16%;
}
.header_search-icon {
  visibility: hidden;
  width: 0;
  height: 0;
}
.header_form-destination {
  display: flex;
  justify-content: center;
}
.header_form-destination input {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.header_form-destination input:focus {
  border: 3px solid #f5bd41;
  border-radius: 8px;
}
.header_form-check {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
}
.form_check-item {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
}
.form_checkIn-Label {
  display: none;
}
.form_checkOut-label {
  display: none;
}
.form-checkIn {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #383838;
}
.form-checkIn:focus {
  border: 3px solid #f5bd41;
  border-radius: 8px;
}
.form-checkOut {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #383838;
}
.form-checkOut:focus {
  border: 3px solid #f5bd41;
  border-radius: 8px;
}
.header_form-select {
  border-radius: 8px;
  display: flex;
}
.header_form-select img {
  display: none;
}
.select-item {
  width: 33%;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #383838;
}
.select-item:focus {
  border: 3px solid #f5bd41;
  border-radius: 8px;
}
.select-item option {
  text-align: center;
}
.header_form-button {
  border-radius: 8px;
  border: none;
  outline: none;
  background: #3077c6;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.header_links {
  margin: 130px auto 0px;
}
.header_links a {
  margin: 0 8px;
}
/*------------------advantages------------------------*/
.advantages {
  width: 100%;
}
.advantages_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages_header {
  margin-top: 120px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages_header h2 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 500;
  color: #383838;
  position: relative;
}
.advantages_header h2:after {
  content: "";
  position: absolute;
  background: #f5bd41;
  left: 35%;
  bottom: -20px;
  width: 100px;
  height: 4px;
}
.advantages_header img {
  width: 100px;
  height: 4px;
}
.advantages_items {
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.advantages_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 250px;
  margin: 10px;
}
.advantages_item-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 48px;
}
.advantages_item img {
  margin-bottom: 48px;
}
.advantages_item p {
  font-size: 24px;
  font-weight: 400;
  color: #383838;
  text-align: center;
}
/*-------------------------homes----------------------------*/
.homes {
  background: #eaf0f9;
}
.homes_inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homes_header {
  margin: 120px auto 106px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #383838;
}
.homes_items {
  display: flex;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 120px;
  position: relative;
}
.homes_button {
  width: 40px;
  height: 40px;
  background: rgba(243, 243, 244, 100);
  box-shadow: 2px 2px 10px rgba(31, 30, 30, 0.5);
  border-radius: 50%;
  position: absolute;
  top: 29%;
  right: -0.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homes_item {
  margin: 0 10px;
}
.homes_item-img img {
  width: 100%;
  height: 100%;
}
.homes_item-name {
  margin: 24px 0px 24px 0px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #3077c6;
}
.homes_item-name a {
  text-decoration: none;
  color: #3077c6;
}
.homes_item-location {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #bfbfbf;
}
/*-------------------------------destinations--------------------------------*/
.container {
  padding: 0;
}
.destinations {
  width: 100%;
  background-color: #ffffff;
}
.destinations_header {
  display: flex;
  justify-content: center;
  margin: 120px auto 104px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #383838;
}
.destinations_buttons {
  background-color: #f3f3f4;
  display: flex;
  flex-direction: row;
  max-width: 645px;
  border-radius: 8px;
  margin-bottom: 65px;
}
.destinations_button {
  border-radius: 8px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 52px 0px 52px;
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #383838;
}
.destinations_button:hover {
  background: #3077c6;
  border-radius: 8px;
  color: #ffffff;
  transition: 1000ms;
}
.destinations_items {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 208px;
}
.destinations_items-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.destinations_item {
  margin: 0 5px;
}
.destinations_item-image {
  position: relative;
  max-width: 296px;
  max-height: 296px;
}
.destinations_item-image:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(56, 56, 56, 0.4);
  opacity: 0;
  z-index: 2;
}
.destinations_item-image img {
  width: 100%;
  height: 100%;
}

.destinations_item-desc {
  margin-top: 24px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #3077c6;
}
.destinations_item-button {
  z-index: 100;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 128px;
  opacity: 0;
  background: #ffffff;
  border: 1px solid #10367c;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  line-height: 117%;
  padding: 13px 0;
  color: #3077c6;
}
.destinations_item:hover .destinations_item-image:after {
  opacity: 1;
  transition: 1000ms;
}
.destinations_item:hover .destinations_item-button {
  opacity: 1;
  transition: 1000ms;
}
.destinations_button-2{
  display: none;
}
.destinations_button-1 {
  content: "";
  width: 40px;
  height: 40px;
  background: rgba(243, 243, 244, 100);
  box-shadow: 2px 2px 10px rgba(31, 30, 30, 0.5);
  border-radius: 50%;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
/*-------------------------------signUp--------------------------------*/
.signUp_inner{
  display: flex;
  justify-content: center;
  width: 100%;
  width: 100%;
  background-color: #EAF0F9;
}
.signUp_inner-column{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.signUp_inner-logo{
  display: none;
}
.signUp_inner-image{
  margin: 57px 24px;
}
.signUp_inner-description{
  margin-top: 51px;
  margin-right: 55px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: start;
  color: #383838;
}
.signUp_inner-content{
  display: flex;
  flex-direction: column;
}
.signUp_inner-column{
  position: relative;
}
.signUp_inner-button{
  width: 128px;
  margin-top: 21px;
  padding: 12px 32px;
  background: #FFFFFF;
  border: 1px solid #3077C6;
  border-radius: 8px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #3077C6;
  text-decoration: none;
}
.signUp_inner-install{
  display: none;
}
.signUp_inner-close{
  position: absolute;
  right: 24px;
  top: 24px;
}
.signUp_inner-close img{
  width: 26px;
  height: 26px;
}
/*-------------------------------reviews-----------------------------------*/
.reviews_inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews_header{
  margin: 120px auto 104px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #383838;
}
.reviews_items{
  position: relative;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 120px;
}
.reviews_button{
  display: block;
  width: 40px;
  height: 40px;
  background: rgba(243, 243, 244, 100);
  box-shadow: 2px 2px 10px rgb(31 30 30 / 50%);
  border-radius: 50%;
  position: absolute;
  top: 29%;
  right: -1%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews_item{
  width: 100%;
  margin: 0 8px;
  max-width: 400px;
  background: #EAF0F9;
}
.reviews_item-img{
  max-width: 400px;
  max-height: 400px;
}
.reviews_item-img img{
  width: 100%;
  height: 100%;
}
.reviews_item-picture{
  position: relative;
}
.reviews_item-price{
  position: absolute;
  width: 100%;
  height: 12%;
  right: 0;
  top: 88%;
  background: rgba(56, 56, 56, 0.7);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  padding-top: 16px;
  padding-left: 24px;
}
.reviews_item-content{
  padding: 24px;
}
.reviews_item-grade{
  display: flex;
  justify-content: space-between;
}
.reviews_item-grade-desc{
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #3077C6;
}
.reviews_item-grade-grade{
  background: #10367C;
  border-radius: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  padding: 4px 11px;
}
.reviews_item-location{
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.reviews_item-location-subtitle{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #3077C6;
}
.reviews_item-location-reviews{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #BFBFBF;
}
.reviews_item-user{
  margin-top: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 23px ;
}
.reviews_item-user-logo{
  margin-right: 21px;
}
.reviews_item-user-data{
  display: flex;
  flex-direction: column;
}
.reviews_item-userName{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #383838;
  margin-bottom: 8px;
}
.reviews_item-userCountry{
  display: flex;
}
.reviews_item-userCountry-image{
  margin-right: 8px;
  width: 16px;
  height: 12px;
}
.reviews_item-userCountry img{
  width: 100% ;
  height: 100% ;
}
.reviews_item-userCountry p{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #BFBFBF;
}
.reviews_item-desc{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #383838;
}

/*-------------------------------footer--------------------------------*/
footer {
  width: 100%;
  background: #10367c;
  display: flex;
}
.footer_inner {
  padding: 0 8px;
  margin: 120px auto 0px;
  max-width: 1440px;
  width: 100%;
  color: #ffffff;
}
.footer_header img {
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.footer_columns {
  width: 100%;
  display: flex;
  justify-content: start;
  margin-bottom: 64px;
}
.footer_column {
  width: 33.3333%;
}
.footer_column li {
  list-style-type: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
}
.footer_column-first {
  font-weight: 500;
}
.footer_column-first {
  color: #ffffff;
  text-decoration: none;
}
.footer_column-items {
  color: #ffffff;
  text-decoration: none;
}
.footer_desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 120px;
}
@media (max-width: 1400px) {
  header {
    width: 100%;
    height: 100vh;
    background-image: url("./../img/header_img/castelmezzano-1979546 1.png");
    background-size: 1400px;
    background-position: center;
  }
  /*-------------------------------reviews-----------------------------------*/
  .reviews_items{
    justify-content: center;
  }
  .reviews_item{
    width: 400px;
    margin: 0 8px;
  }
  .reviews_item-price{
    padding-top: 0;
    display: flex;
    align-items: center;
    padding-left: 8px;
    top: 87%;
  }
}
@media (max-width: 800px) {
  .col-md-1 {
    width: var(--col-width);
  }
  .col-md-2 {
    width: calc(var(--col-width) * 2);
  }
  .col-md-3 {
    width: calc(var(--col-width) * 3);
  }
  .col-md-4 {
    width: calc(var(--col-width) * 4);
  }
  .col-md-5 {
    width: calc(var(--col-width) * 5);
  }
  .col-md-6 {
    width: calc(var(--col-width) * 6);
  }
  .col-md-7 {
    width: calc(var(--col-width) * 7);
  }
  .col-md-8 {
    width: calc(var(--col-width) * 8);
  }
  .col-md-9 {
    width: calc(var(--col-width) * 9);
  }
  .col-md-10 {
    width: calc(var(--col-width) * 10);
  }
  .col-md-11 {
    width: calc(var(--col-width) * 11);
  }
  .col-md-12 {
    width: calc(var(--col-width) * 12);
  }
  /*----------------------header----------------------*/
  .header_nav {
    margin-top: 12px;
  }
  .nav_text {
    display: none;
  }
  .nav_button {
    margin: 0;
  }
  #header_nav-burger {
    display: initial;
  }
  .header_desc {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    margin-top: 50px;
  }
  .header_form-subtitle {
    display: none;
  }
  .header_form-select {
    display: initial;
  }
  .header_search-icon {
    /*visibility: visible;
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 30px ;*/
  }
  .header_form {
    display: grid;
    /*grid-gap: 10px;*/
    grid-template-columns: 50% 50%;
    /*grid-template-rows: 60px 60px 60px 60px;*/
    background-color: #f5bd41;
    width: 100%;
    height: 100%;
    padding: 8px;
  }
  .header_form-destination {
    margin: 0 auto 4px;
    grid-column: 1 / 3;
    grid-row: 1;
    height: 48px;
    width: 100%;
  }

  .header_form-destination input:focus {
    border: none;
    border-radius: 8px;
  }
  .select-item:focus {
    border: none;
    border-radius: 8px;
  }
  .form-checkIn:focus {
    border: none;
    border-radius: 8px;
  }
  .form-checkOut:focus {
    border: none;
    border-radius: 8px;
  }
  .header_form-check {
    grid-gap: 10px;
    margin: 4px auto 4px;
    border-radius: 8px;
    grid-column: 1 / 3;
    grid-row: 2;
    height: 100%;
    width: 100%;
  }
  .form_check-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
  }
  .form_checkIn-Label {
    display: block;
    padding-right: 30px;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #383838;
  }
  .form_checkOut-label {
    display: block;
    padding-right: 30px;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #383838;
  }
  .form-checkIn {
    border-radius: 8px;
  }
  .form-checkOut {
    border-radius: 8px;
  }
  .header_form-select {
    margin: 14px auto 4px;
    grid-column: 1 / 3;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    background-color: #ffffff;
  }
  .header_form-select img {
    display: block;
  }
  .select-item {
    border-radius: 8px;
    padding: 10px;
    width: 100%;
  }
  .header_form-button {
    grid-column: 1/3;
    grid-row: 4;
    margin: 4px auto 0px;
    width: 100%;
    height: 48px;
  }
  .header_links {
    width: 100%;
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
  }
  /*----------------------advantages------------------------------------*/
  .advantages_items {
    flex-wrap: wrap;
  }
  /*----------------------homes------------------------------------*/
  .homes_item-none {
    display: none;
  }
  .homes_button {
    top: 30%;
    left: 92%;
  }
  /*-------------------------------destinations--------------------------------*/
  .destinations_header {
    font-size: 28px;
    line-height: 33px;
    margin: 40px auto 35px;
  }
  .destinations_buttons {
    margin: 0 15px 24px;
    font-size: 19px;
    line-height: 22px;
  }
  .destinations_button {
    width: 33%;
  }
  .destinations_item {
margin: 0 10px;
  }
  .destinations_button-mobileNone {
    display: none;
  }
  .destinations_item:nth-of-type(3) {
    display: none;
  }
  .destinations_item:nth-of-type(4) {
    display: none;
  }
  .destinations_button-1{
    display: none;
  }
  .destinations_button-2{
    display: block;
    width: 40px;
    height: 40px;
    background: rgba(243, 243, 244, 100);
    box-shadow: 2px 2px 10px rgb(31 30 30 / 50%);
    border-radius: 50%;
    position: absolute;
    top: 29%;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /*----------------------signIn----------------------*/
  .signUp_inner-description{
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
  }
  /*-------------------------------reviews-----------------------------------*/

  .reviews_header{
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    margin-top: 40px;
    margin-bottom: 32px;
  }
  .reviews_item{
    width: 100%;
  }
  .reviews_item:nth-child(2){
    display: none;
  }
  .reviews_item:nth-child(3){
      display: none;
  }
  .reviews_button{
    display: none;
  }
  /*----------------------footer----------------------*/
  .footer_column li {
    list-style-type: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
  }
}
@media (max-width: 385px) {
  :root {
    --col-width: calc(100% / 6);
  }

  .col-sm-1 {
    width: var(--col-width);
  }
  .col-sm-2 {
    width: calc(var(--col-width) * 2);
  }
  .col-sm-3 {
    width: calc(var(--col-width) * 3);
  }
  .col-sm-4 {
    width: calc(var(--col-width) * 4);
  }
  .col-sm-5 {
    width: calc(var(--col-width) * 5);
  }
  .col-sm-6 {
    width: calc(var(--col-width) * 6);
  }
  /*----------------------advantages------------------------------------*/

  .advantages_header {
    margin-bottom: 35px;
  }
  .advantages_header p {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
  }
  .advantages_header img {
    display: none;
  }
  .advantages_item {
    height: 150px;
  }
  .advantages_item p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
  }
  .advantages_item-icon {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
  }
  .advantages_col-3 {
    width: 100%;
  }
  /*----------------------homes------------------------------------*/
  .homes_header {
    margin: 40px auto 32px;
    font-size: 28px;
    line-height: 33px;
  }
  .homes_items {
    margin-bottom: 40px;
  }
  .homes_item-name {
    margin: 8px auto 4px;
    font-size: 12px;
    line-height: 14px;
  }
  .homes_item-location {
    font-size: 12px;
    line-height: 14px;
  }
  .homes_button {
    width: 28px;
    height: 28px;
    top: 30%;
    left: 92%;
  }
  /*-------------------------------destinations--------------------------------*/
  .destinations_button{
    height: 32px;
  }
  .destinations_items{
    margin-bottom: 40px;
  }
  .destinations_item-desc{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-top: 8px;
  }
  .destinations_button-2{
    width: 28px;
    height: 28px;
    top: 40%;
    left: 92%;
  }
  /*----------------------signUp----------------------*/
  .signUp{
    order: 4;
  }
  .signUp_inner{
    background-color: #FFFFFF;
  }
  .signUp_inner-column{
    display: flex;
    align-items: center;
  }
  .signUp_inner-image{
    display: none;
  }
  .signUp_inner-button{
    display: none;
  }
  .signUp_inner-logo{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60px;
    max-height: 60px;
    padding:24px 3px;
    margin: 24px 16px 24px 50px;
    background: #3077C6;
    border-radius: 4px;
  }
  .signUp_inner-logo img{
    max-width: 50px;
  }
  .signUp_inner-install{
    display: block;
  }
  .signUp_inner-description{
    margin: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #383838;

  }
  .signUp_inner-close{
    width: 16px;
    height: 16px;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
  }
  .signUp_inner-close img{
    width: 100%;
    height: 100%;
  }
  .signUp_inner-install{
    text-decoration: none;
    color: #3077C6;
    margin-right: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  /*-------------------------------reviews-----------------------------------*/
  .reviews{
    background: #EAF0F9;
    order:3;
  }
  .reviews_header{
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    margin-top: 40px;
    margin-bottom: 32px;
  }
  /*--------------------footer---------------*/
  footer{
    order: 5;
  }
  .footer_inner {
    margin: 0px;
  }
  .footer_header {
    margin: 40px auto;
    display: flex;
    justify-content: center;
  }
  .footer_header img {
    visibility: visible;
    height: 19px;
    width: 98px;
  }
  .footer_columns {
    margin-bottom: 32px;
  }
  .footer_column {
    display: flex;
    justify-content: center;
  }
  .footer_column-first {
    text-decoration: underline;
  }
  .footer_column-items {
    display: none;
  }
  .footer_desc {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    margin-bottom: 20px;
  }
}
